<p><%= link_to 'Home', root_path %></p>

<h3><%= @restaurant.name %></h3>

<h6>address: <%= @restaurant.address %></h6>
<h6>category: <%= @restaurant.category %></h6>
<h6>contact: <%= @restaurant.phone_number %></h6>

<div>
  <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Delete Restaurant', @restaurant, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>

<p><%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant) %></p>

<h5>See existing reviews</h5>
<% @restaurant.reviews.each do |review| %>
  <li><%= review.rating %>/5 - <%= review.content %></li>
<% end %>
